.wrapper {
  --border: 3px;
  --border-radius: 3px;
  --clear-width: 35px;
}

.input {
  min-width: 300px;
  padding: 10px 15px;
  padding-right: calc(var(--clear-width) + 10px);
  border: var(--border) solid var(--color-gray);
  border-radius: var(--border-radius);
  font-size: var(--font-size-medium);
  font-family: var(--font-family);
  outline: none;
}
.input:focus {
  border: var(--border) solid var(--color-blue);
}
.wrapper {
  position: relative;
  display: inline-flex;
}
.clear {
  position: absolute;
  width: var(--clear-width);
  height: calc(100% - var(--border) * 2);
  top: var(--border);
  right: var(--border);
  padding: 10px;
  object-fit: contain;
  object-position: center center;
  transition: 0.5s;
  opacity: 0.4;
  cursor: pointer;
}
.clear__disabled {
  opacity: 0.2;
}
