:root {
  --color-dark-gray: #10100e;
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffff00;
  --color-blue: #6a83fb;
  --color-violet: #ac72c2;
  --color-red: #f75d83;

  --border-radius-small: 3px;

  --spacing-medium: 20px;
  --spacing-large: 30px;
  --spacing-small: 10px;

  --margin-list: 7px;

  --text-shadow-yellow: 0 0 2px var(--color-yellow), 0 0 40px var(--color-blue);

  --font-family-main: sans-serif;

  --font-size-header: 26px;
  --font-size-main: 16px;
  --font-bold: 600;

  --transition: 0.4s;

  --theme-light-header: #dfe2df;
  --theme-dark-header: #ca6c6f;
  --theme-neutral-header: #cccc46;

  --theme-default-header: var(--theme-neutral-header);

  --theme-light-bgimage: linear-gradient(
    to right top,
    #dfe2df,
    #b8cec9,
    #8fb8c2,
    #7a9ebf,
    #837faf
  );
  --theme-dark-bgimage: linear-gradient(
    to left top,
    #ca6c6f,
    #b95a6d,
    #a54b6c,
    #8e3d6a,
    #763268
  );
  --theme-neutral-bgimage: url(../static/bg.jpg);

  --theme-default-bgimage: var(--theme-neutral-bgimage);

  --width-max: 1200px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
img {
  display: block;
}
.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: var(--transition);
}

/* Scroll */
/* for Chrome */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* свойства самого скролла */
::-webkit-scrollbar-thumb {
  background-color: rgb(37, 56, 97);
  border-radius: 2px;
}
/* свойства заднего пространства скролла */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7);
}
/* свойства уголка горизонтального и вертикального скролла */
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.7);
}

/* стилизация для firefox */
* {
  scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, 0.7);
  scrollbar-width: thin;
}
