.link__back {
  text-shadow: var(--text-shadow-yellow);
  color: var(--color-white);
  font-family: var(--font-family-main);
  margin-right: 5px;
  margin-bottom: 5px;
}
.link {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}
